version: '3.8'

services:
  php:
    container_name: php
    build: ./docker/php
    volumes:
      - ./src:/var/www

  nginx:
    image: nginx
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  pgsql:
      build: ./docker/pgsql
      ports:
          - "5432:5432"
      volumes:
          - pgsql-data:/var/lib/postgresql/data
      environment:
          - POSTGRES_PASSWORD=example
          - POSTGRES_USER=postgres
          - POSTGRES_DB=postgres

  pgsql-data:
      image: busybox

  pgadmin:
      image: dpage/pgadmin4
      ports:
          - "5050:80"
      environment:
          - PGADMIN_DEFAULT_EMAIL=user@domain.com
          - PGADMIN_DEFAULT_PASSWORD=SuperSecret
      volumes:
          - ./docker/pgadmin:/var/lib/pgadmin

volumes:
  pgsql-data:
